@import "tailwindcss";

body {
  background-color: #232946;

}

html {
  scroll-behavior: smooth;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-8deg);
  }

  40% {
    transform: rotate(14deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  60% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.animate-wave {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}

/* Scroll animation */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal.delay-200 {
  transition-delay: 0.2s;
}

.progress-bar {
  width: 0%;
  transition: width 1.2s ease-out;
}

.reveal.active .progress-bar {
  width: var(--target-width);
}